<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
<h2 id='title'>Markdown Editor</h2>


<div class = "left">
Markdown
{{textarea value=markdown}}
</div>

<div class = "right">
HTML
<div class = "space">
{{showdown-addon markdown}}
</div>
</div>

<div class = "foot">
  <br>
</div>

{{outlet}}
